{% extends "base.html" %} {% block content %}
<div class="splash-container">
    <div class="img-splash">
        <h2 class="content-head">FAQ</h2>
        <p class="normal-text"><strong>1. Can I see all the questions in one place?</strong></p>
        <p class="normal-text">Ans. No. Not as of Jul-2020. We do plan to expose the questions once we have a set that we are happy with.</p>
        <p class="normal-text"><strong>2. Can I challenges of only one type?</strong></p>
        <p class="normal-text">Ans. No. Not as of Jul-2020. You are welcome to develop this feature for us! The GitHub repo associated with this project is <a href="https://github.com/qxf2/the-bored-qa">here</a>.</p>
        <p class="normal-text"><strong>3. Where can I see the answers?</strong></p>
        <p class="normal-text">Ans. Nowhere. We don't provide answers. These are not challenges in the traditional sense. Treat them as random starting points for thinking, exploring and having conversations about testing.</p>
        <p class="normal-text"><strong>4. How can I contribute ideas or challenges?</strong></p>
        <p class="normal-text">Ans. You can raise issue on <a href="https://github.com/qxf2/the-bored-qa">GitHub repo</a> or email me (Arun) directly at <strong>mak@qxf2.com</strong>.</p>
        {% include 'copyright.html' %}
    </div>
</div>
{% endblock %}