{% extends "base.html" %} {% block content %}
<div class="splash-container">
    <div class="splash">
        <h2 class="content-head">How to use this site?</h2>
        <p class="normal-text">Visit this site when you are bored. Click on the 'Challenge me!' button. Every challenge comes with a 'what am I expected to do?' link that will tell you what to do. Try your best to think about the challenge. Feel free to Google and follow your curiousity wherever it takes you! The required endpoint is not that you solve the challenge but that you think and learn. Try to involve your team-mates too!</p>
        <p class="normal-text">Do NOT go about clicking on 'Challenge Me!' without actually spending time on each challenge. It's OK (actually preferable) if you do not agree with the challenge/premise shown. Try to think about the challenge presented</p>
        <p class="normal-text">Do NOT ask yourself "what is the use of learning this?" - that's a lousy question that has a high probability of blocking learning opportunities. Think of this as <a href="https://fs.blog/2012/07/what-is-deliberate-practice/">deliberate practice</a> and do the exercises.</p>
        {% include 'copyright.html' %}
    </div>
</div>
{% endblock %}