{% extends "base.html" %} {% block content %}
<div class="splash-container">
    <div class="splash">
        <h2 class="content-head">What is this site?</h2>
        <p class="normal-text">This is a site meant for software testers. The site throws a random challenge that makes the tester think. We hope the challenges trigger conversations about testing with your colleagues and serve as a starting point for deeper discussions and fun explorations.</p>
        <p class="normal-text">The challenges chosen are based on <a href="https://qxf2.com/?utm_source=what&utm_medium=click&utm_campaign=The%20Bored%20QA">Qxf2's</a> experience in hiring and training testers. We do not provide any answers. We just want the tester to think and discuss the challenges with their colleagues.</p>
        {% include 'copyright.html' %}
    </div>
</div>
{% endblock %}