{% extends "base.html" %} {% block content %}
<div class="splash-container">
    <div class="splash">
        <h2 class="content-head">Why did we build this?</h2>
        <p class="normal-text">A while ago, my colleague <a href="https://www.linkedin.com/in/rajigali/">Raji Gali</a> pointed out that we rarely talk about testing or even encourage exercises around testing. We are one derivative away from testing in that we talk a lot with code/tools that will eventually be used to test. But we are not talking about testing directly.</p>
        <p class="normal-text">This bias shows in many ways and affects our hiring, interviewing and sense of accomplishment within <a href="https://qxf2.com/?utm_source=what&utm_medium=click&utm_campaign=The%20Bored%20QA">Qxf2</a>. While there are multiple genuine reasons for this bias, it has been nagging me that we never directly focus on testing. This is our first attempt at a tool to solve this problem.</p>
        {% include 'copyright.html' %}
    </div>
</div>
{% endblock %}