body {
    background-color: white;
    background-image: url("background.jpg");
    background-size:cover;
  }



  .top-space-40 { 
    margin-top:40px;
    margin-left:40px ;
} 
  
.quote_div{
    position: absolute;
    left: 20%;
}
  .block {
    display: block;
    width: 20%;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    margin: 100px 0px;
    position: absolute;
    left: 40%;
    top: 30%;
  }

  .block:hover {
    background-color: #ddd;
    color: black;
