<!doctype html>
<html>

<head>
    <title>The Bored QA</title>
    <!-- Bootstrap -->
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="/static/style.css" rel="stylesheet">
</head>

<body>
    <form action='/' method="post">
        <p class="text-center" >            
            <button name="quote" class="block" type="submit">Surprise Me!</button></p>
    </form>

    <div class="text-center">
            {% if question_type == 'explain-me' %}
	    	<span class="d-inline bg-success text-center">What would this command do?</span>
	    {% endif %}
	    <h1 class="text-center"> {{ question }}</h1>
    </div>
  
<body>
</html>
